@using ShoppingApp.Models
@model List<Product>

@{
    ViewBag.Title = "Product";
}


<h2>Product List </h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Product Image</th>
            <th>Seller Id</th>
            <th>Product Status Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>

                <td>@i.Name</td>

                <td>@i.Description</td>

                <td>@i.Price</td>

                <td>@i.Image</td>

                <td>@i.SellerId</td>

                <td>@i.ProductStatusId</td>
                <td>
                    <a href="/Account/PView/@i.Id"><span class="glyphicon glyphicon-eye-open"></span> </a> |
                    <a href="/Account/PEdit/@i.Id"><span class="glyphicon glyphicon-pencil"></span> </a>   |
                    <a href="/Account/PDelete/@i.Id"><span class="glyphicon glyphicon-trash"></span> </a>
                </td>
            </tr>
        }
    </tbody>
</table>